<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <aspNetCore processPath="dotnet" arguments=".\MvcApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        <environmentVariable name="NEON_DATABASE_URL" value="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require" />
        <environmentVariable name="Gemini_API_Key" value="YOUR_GEMINI_API_KEY" />
        <environmentVariable name="SESSION_SECRET" value="YOUR_SESSION_SECRET" />
        <environmentVariable name="PORT" value="5000" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="web.config" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
